* {
    font-family: 'TTlakes';
    font-weight: 400;
    font-size: 14px;
}

@media(max-width: 767px) {

.swiper__prices {
    overflow: hidden;
    width: 100%;
    background-color: #F8F8F8;
}

.swiper__prices .pricesSwiper {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.prices-title {
    margin: 16px 0 16px 16px;
    font-size: 16px;
    color: #7E7E82;
}

.pricesSwiper {
    padding-top: 16px;
    background-color: #F8F8F8;
}

.pricesSwiper .swiper-wrapper {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.price-card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 260px;
  height: 200px;
  padding-left: 16px;
  border-radius: 6px;
  background: white;
}

.price-card:first-child {
    display: none;
}

.price-card .service,
.price-card .price,
.price-card .time {
    display: block;
    width: 200px;
}

.price-card .service::before,
.price-card .price::before,
.price-card .time::before {
  display: block;
  padding-top:8px;
  color: #7E7E82;
}
.price-card .service::before {
  content: "Ремонтные услуги";
  padding-top: 16px;
}
.price-card .price::before {
  content: "Цена";
}
.price-card .time::before {
  content: "Срок";
}
.swiper-slide.price-card {
    gap: 3px;
}

.prices-button {
    position: absolute;
    right: 16px;
    bottom: 16px;

    border: none;
    background: transparent;
    padding: 0;
}

.prices-button img {
    width: 120px;
    height: 32px;
}

.prices-info {
    margin-left: 16px;
    color: #1B1C21;
}

.prices-pagination.prices-pagination {
    position: static;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0;
}

.prices-offer {
    display: block;
    margin: 16px 16px 0;
    font-weight: 700;
    color: #1B1C21;
}
}


@media(min-width: 768px) and (max-width: 1365px){

.prices-title {
    display: flex;
    margin-top: 16px;
    margin-left: 24px;
    font-size: 16px;
    color: #7E7E82;
    background-color: white;
}

.pricesSwiper {
    padding-top: 16px;
    background-color: #F8F8F8;
}

.pricesSwiper .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 24px 0 12px;
}

.pricesSwiper .swiper-wrapper,
.swiper-slide.price-card,
.price-card {
    box-sizing: border-box;
}


.price-card:first-child {
    border-bottom: none;
    color: #7E7E82;
    background-color: transparent;
}
.swiper-slide.price-card {
    display: grid;
    grid-template-columns: 1fr 120px 120px 120px;
    align-items: center;
    min-height: 64px;
    width: 100%;
    margin: 0;
    padding: 0 24px 0 24px;
    background-color: white;
    border-bottom: 1px solid #EAEAEA;
    border-radius: 5px;
    color: #000000;
}
.prices-button {
    justify-self: end;
    border: none;
    background: transparent;
    padding: 0;
}
.prices-button img {
    width: 120px;
    height: 32px;
}

.prices-info {
    display: flex;
    margin-top: 32px;
    margin-left: 32px;
    width: 420px;
}
.prices-offer {
    display: flex;
    margin-top: 16px;
    margin-left: 32px;
    font-weight: 700;
    color: #1B1C21;
}
}


@media(min-width: 1366px) {

.swiper__prices {
    width: 100%;
    background-color: white;
}

.prices-title {
    display: flex;
    margin-left: 32px;
    padding: 16px 0 16px 0;
    font-size: 16px;
    color: #7E7E82;
    background-color: white;
}

.pricesSwiper {
    padding-top: 16px;
    background-color: #F8F8F8;
}

.pricesSwiper .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 32px 0 32px;
}


.price-card:first-child {
    border-bottom: none;
    color: #7E7E82;
    background-color: transparent;
}

.swiper-slide.price-card{
    margin: 0;
}

.price-card {
    display: grid;
    grid-template-columns: 1fr 190px 190px 190px;
    align-items: center;
    min-height: 64px;
    width: 100%;
    padding: 0 24px 0 24px;
    background-color: white;
    border-bottom: 1px solid #EAEAEA;
    border-radius: 5px;
    color: #000000;
}
.prices-button {
    justify-self: end;
    border: none;
    background: transparent;
    padding-right: 32px;
}
.prices-button img {
    width: 120px;
    height: 32px;
}

.prices-info {
    display: flex;
    margin-top: 32px;
    margin-left: 32px;
    width: 420px;
}
.swiper-pagination.prices-pagination {
    display: none;
}
.prices-offer {
    display: flex;
    margin-top: 16px;
    margin-left: 32px;
    font-weight: 700;
    color: #1B1C21;
}
}