.section_h1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 24px;
}

.h1_blue--bar {
    position: flex;
}

.service_and_status {
    font-family: 'TTlakes';
    font-size: 28px;
    font-weight: 700;
    margin-left: 12px;
}

@media(min-width: 768px) and (max-width: 1365px) {

    .section_h1 {
        display: flex;
        align-items: center;
        margin-top: 24px;
    }
}

@media(min-width: 1366px) {


.section_h1 {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.h1_blue--bar {
    position: flex;
}

.service_and_status {
    font-family: 'TTlakes';
    font-size: 28px;
    font-weight: 700;
    margin-left: 24px;
}
}