.section_h1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.h1_blue--bar {
    position: flex;
}

.service_and_status {
    font-family: 'TTlakes';
    font-size: 28px;
    font-weight: 700;
    margin-left: 12px;
}

@media(min-width: 1366px) and (max-width: 2000px) {


.section_h1 {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.h1_blue--bar {
    position: flex;
}

.service_and_status {
    font-family: 'TTlakes';
    font-size: 28px;
    font-weight: 700;
    margin-left: 24px;
}
}


@media(min-width: 1120px) and (max-width: 1600px) {

.section_h1 {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.h1_blue--bar {
    display: flex;
}

.service_and_status {
    display: flex;
    margin-left: 30px;
    font-family: 'TTlakes';
    font-size: 28px;
    font-weight: 700;
}
}