.swiper__brand-cards {
    overflow-y: auto;
    width: 100%;
    margin-top: 32px;
}

.blue-line {
    display: flex;
    height: 1px;
    width: 100%;
}

.repair-title {
    display: flex;
    margin-top: 15px;
    margin-left: 16px;
    color: #7E7E82;
    font-family: 'TTlakes';
    font-size: 16px;
    font-weight: 400;
}

.swiper__brand-cards .swiper {
    width: 100%;
    margin-top: 16px;
    padding-top: 20px;
    padding-bottom: 70px;
    background-color: #F8F8F8;
}

.swiper-slide {
    display: flex;
    gap: 16px;
    height: 72px;
    width: 240px;
    margin-left: 16px;
} 

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-bottom: 30px;
    width: 320px;
    max-width: 100%;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #DDDDDD;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #B5B6BC;
}

.show-more {
    display: none;
}

.hidden_pc {
    display: none;
}



@media(min-width: 768px) and (max-width: 1365px){

    .swiper-pagination {
        display: none;
    }

    .repair-title {
    display: flex;
    margin-top: 16px;
    margin-left: 24px;
    color: #7E7E82;
    font-family: 'TTlakes';
    font-size: 16px;
    font-weight: 400;
    }

    .swiper__brand-cards {
        max-width: 100%;
    }
    .swiper__brand-cards .swiper {
        max-width: 100%;
        padding: 24px;
    }
    .swiper__brand-cards .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 224px);
        justify-content: space-between;
        gap: 16px 24px;
    }


    .swiper__brand-cards .swiper-slide {
        width: 224px;
        height: 72px;
        margin-left: 0;
    }
    .swiper-slide img {
        width: 100%;
    }

    .blue-line {
        height: 1px;
        max-width: 100%;
        background-color: #D9FFF5;
    }


    .show-more {
        margin-top: 24px;
        border: none;
        background: transparent;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 500;
        color: #1B1C21;
        cursor: pointer;
    }


    .show-more {
        display: flex;
        align-items: center;
    }

    .hidden_pc {
        display: none !important;
    }
    .hidden {
        display: none;
    }
    .hidden.show {
        display: flex;
    }
    .show-more__icon {
    transition: transform 0.3s ease;
    }
    .show-more.open .show-more__icon {
    transform: rotate(180deg);
    }
}



@media(min-width: 1366px) {

    .swiper-pagination-brands {
        display: none;
    }

    .repair-title {
    display: flex;
    margin-top: 16px;
    margin-left: 32px;
    color: #7E7E82;
    font-family: 'TTlakes';
    font-size: 16px;
    font-weight: 400;
}

    .swiper__brand-cards {
        max-width: 100%;
        background-color: white;
    }
    .swiper__brand-cards .swiper {
        max-width: 100%;
        padding: 32px;
    }
    .swiper__brand-cards .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 240px);
        justify-content: space-between;
        gap: 16px 20px;
    }


    .swiper__brand-cards .swiper-slide {
        width: 240px;
        height: 72px;
        margin-left: 0;
    }
    .swiper-slide img {
        width: 100%;
    }

    .blue-line {
        height: 1px;
        max-width: 100%;
        background-color: #D9FFF5;
    }


    .show-more {
        margin-top: 24px;
        border: none;
        background: transparent;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 500;
        color: #1B1C21;
        cursor: pointer;
    }


    .show-more {
        display: flex;
        align-items: center;
    }
    .hidden_pc {
        display: none;
    }
    .hidden_pc.show {
        display: flex;
    }
    .show-more__icon {
    transition: transform 0.3s ease;
    }
    .show-more.open .show-more__icon {
    transform: rotate(180deg);
    }
}