@font-face {
    font-family: 'TTlakes';
    src: url(../fonts/TTLakes-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: 'TTlakes';
    src: url(../fonts/TTLakes-Medium.ttf);
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'TTlakes';
    src: url(../fonts/TTLakes-Regular.ttf);
    font-weight: 400;
    font-style: regular;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.swiper__brend-cards {
    overflow-y: auto;
    width: 100%;
    max-width: 320px;
}

.blue-line {
    display: flex;
    width: 100%;
}

.repair-h1 {
    display: flex;
    margin-top: 15px;
    margin-left: 16px;
    color: #7E7E82;
    font-family: 'TTlakes';
    font-size: 16px;
    font-weight: 400;
}

.swiper {
    width: 100%;
    max-width: 320px;
    margin-top: 16px;
    padding-top: 20px;
    padding-bottom: 70px;
    background-color: #F8F8F8;
}

.swiper-slide {
    display: flex;
    gap: 16px;
    height: 72px;
    width: 240px;
    margin-left: 16px;
} 

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-bottom: 30px;
    width: 320px;
    max-width: 100%;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #DDDDDD;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #B5B6BC;
}

.show-more {
    display: none;
}

.hidden_pc {
    display: none;
}



@media (min-width: 321px) and (max-width: 768px){

    .swiper-pagination {
        display: none;
    }

    .repair-h1 {
    display: flex;
    margin-top: 16px;
    margin-left: 24px;
    color: #7E7E82;
    font-family: 'TTlakes';
    font-size: 16px;
    font-weight: 400;
    }

    .swiper__brend-cards {
        max-width: 768px;
    }
    .swiper {
        max-width: 768px;
        padding: 24px;
    }
    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px 24px;
    }


    .swiper-slide {
        width: 224px;
        height: 72px;
        margin-left: 0;
    }
    .swiper-slide img {
        width: 100%;
    }


    .show-more {
        margin-top: 24px;
        border: none;
        background: transparent;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 500;
        color: #1B1C21;
        cursor: pointer;
    }


    .show-more {
        display: flex;
        align-items: center;
    }

    .hidden_pc {
        display: none !important;
    }
    .hidden {
        display: none;
    }
    .hidden.show {
        display: flex;
    }
    .show-more__icon {
    transition: transform 0.3s ease;
    }
    .show-more.open .show-more__icon {
    transform: rotate(180deg);
    }
}



@media (min-width: 769px) {

    .swiper-pagination {
        display: none;
    }

    .repair-h1 {
    display: flex;
    margin-top: 16px;
    margin-left: 32px;
    color: #7E7E82;
    font-family: 'TTlakes';
    font-size: 16px;
    font-weight: 400;
}

    .swiper__brend-cards {
        max-width: 1120px;
    }
    .swiper {
        max-width: 1120px;
        padding: 32px;
    }
    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 240px);
        gap: 16px 32px;
    }


    .swiper-slide {
        width: 240px;
        height: 72px;
        margin-left: 0;
    }
    .swiper-slide img {
        width: 100%;
    }


    .show-more {
        margin-top: 24px;
        border: none;
        background: transparent;
        font-family: 'TTlakes';
        font-size: 16px;
        font-weight: 500;
        color: #1B1C21;
        cursor: pointer;
    }


    .show-more {
        display: flex;
        align-items: center;
    }
    .hidden_pc {
        display: none;
    }
    .hidden_pc.show {
        display: flex;
    }
    .show-more__icon {
    transition: transform 0.3s ease;
    }
    .show-more.open .show-more__icon {
    transform: rotate(180deg);
    }
}