$bgColor: #24292e;
$text: #fff;

@import './aside';
@import './fonts';
@import './header';
@import './nav';
@import './page';
@import './section_h1';
@import './swiper';

* {
    // outline: 1px solid red;
    box-sizing: border-box;
}

aside {
    display: none;
}

@media (min-width: 1366px) {
    body {
        display: flex;
        min-height: 100vh;
    }

    aside {
        display: block; 
        width: 300px;
        flex-shrink: 0;
    }

    main {
        flex: 1;
        min-width: 0;
    }
    
}
